/* Navbar.css */
.nav__wrapper {
    background-color: #fff; /* Customize as needed */
    padding: 1rem;
}

.nav {
    list-style-type: none;
    display: flex;
    justify-content: space-around;
}

.nav li {
    display: inline-block;
}

.nav__counter {
    font-weight: bold;
}

.nav__title {
    margin: 0;
    font-size: 1.2rem;
}

.nav__title--stroke {
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
}



.nav li.active a {
    color: #007bff; /* Highlight color for the active item */
}
