/* Add this to your CSS file */
html,
body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  /* Prevent default scrolling */
}






/* Hide scrollbar for all elements */
* {
  scrollbar-width: none;
  /* Firefox */
}

*::-webkit-scrollbar {
  display: none;
  /* Chrome, Safari, and Opera */
}