/* Add this to your CSS file */
html,
body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  /* Prevent default scrolling */
}

html {
  scroll-behavior: smooth;
}



.snap-y {
  scroll-snap-type: y mandatory;
  overflow-y: auto; /* Enable scrolling */
  height: 100vh; /* Adjust height if needed */
}


.snap-mandatory {
  overflow-y: auto; /* Allow scrolling */
}


.loading-container {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.8); /* Optional: background overlay */
}

.loading-gif {
  max-width: 80%; /* Makes the GIF responsive */
  max-height: 80%; /* Prevents overflow on smaller screens */
  height: auto; /* Maintains aspect ratio */
}


/* Hide scrollbar for all elements */
* {
  scrollbar-width: none;
  /* Firefox */
}

*::-webkit-scrollbar {
  display: none;
  /* Chrome, Safari, and Opera */
}